/* AppBar.css */

.app-bar {
  width: 1400px; /* Adjust width to cover entire screen starting after Drawer */
  height: 45px;
  gap: 0px;
  color: black;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: rgb(241, 241, 241);
}

.notification-area {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.bell-icon {
  margin-right: 10px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
