/* Drawer.css */

.drawer {
    width: 210px;
    height: 670px;
    gap: 0px;
    border-radius: 0px 36px 36px 0px;
    background-color: maroon;
    color: white;
    z-index: 2;
  }
  
  .drawer-content {
    padding-top: 120px;
    padding-left: 20px;
  }
  
 /* Drawer.css */

.drawer-item {
    display: flex;
    align-items: center;
    padding: 16px 0px 0px 0px;
    gap: 16px;
    width: 190px;
    height: 56px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 10px 0px 0px 0px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .drawer-item:hover {
    background-color: #571a1a;
  }
  