/* SinglePieCard.css */

.single-pie-card {
  width: 622px;
  height: 300px; /* Keeping the original height */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 20px 0; /* Adjusted margin to align card to the start */
  padding: 20px;
  display: flex;
  flex-direction: column;
 }

.card-title {
  text-align: left;
  margin-bottom: 20px;
}

.chart-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-grow: 1;
  height: 100%; /* Ensure the chart container takes up full height */
}

.chart-container canvas {
  max-width: 100%; /* Ensure canvas doesn't exceed container width */
  max-height: 100%; /* Ensure canvas doesn't exceed container height */
  width: 400px; /* Set width of the canvas */
  height: 400px; /* Set height of the canvas */
  margin-bottom:100px;
}
